.comment.clearfix
	.content
		%p.comment_content= comment.comment
		%p.comment_author= comment.user.email
	.buttons
		= link_to t('edit'), edit_post_comment_path(comment.post, comment)
		= link_to t('delete'), [comment.post, comment], method: :delete, data: { confirm: t('are_you_sure') }